doctype html
html( lang='pt-br' )
	include head.pug
	body
		header
			h2 #{ titulo }
		main
			p( class="mensagem" ).
				#{ mensagem }
		footer
			if logado
				a( href=`/sessao/${usuario}/${hexid}/` ) voltar para painel
				a( href="/sessao/${usuario}/${hexid}/sair" ) encerrar sessao
			else
				a( href='/login' ) login
				a( href='/' ) página inicial
			small lpfinancas 2023
