doctype html
html( lang='pt-br' )
	include head.pug
	body
		header
			h1 LPFINANCAS
			p SEJA MUITO BEM VINDO #{usuario}
		main
			div
				h2 FORASTEIROS

				ul
					li
						a( href=`/sessao/${usuario}/${hexid}/adicionarforasteiro` ) adicionar forasteiro
					li
						a( href=`/sessao/${usuario}/${hexid}/editarforasteiro` ) editar forasteiro
					li
						a( href=`/sessao/${usuario}/${hexid}/visualizarforasteiros` ) visualizar forasteiros
					li
						a( href=`/sessao/${usuario}/${hexid}/deletarforasteiro` ) deletar forasteiro

				h2 CARTEIRAS
				ul
					li
						a( href=`/sessao/${usuario}/${hexid}/criarcarteira` ) criar carteira
					li
						a( href=`/sessao/${usuario}/${hexid}/editarcarteira` ) editar carteira
					li
						a( href=`/sessao/${usuario}/${hexid}/visualizarcarteira` ) visualizar carteira
					li
						a( href=`/sessao/${usuario}/${hexid}/deletarcarteira` ) deletar carteira

				h2 ENTRADAS e SAIDAS

				ul
					li
						a( href=`/sessao/${usuario}/${hexid}/entradas` ) adicionar ou remover entradas
					li
						a( href=`/sessao/${usuario}/${hexid}/saidas` ) adicionar ou remover saidas


		footer
			a( href=`/sessao/${usuario}/${hexid}/sair` ) encerrar sessao
			small lpfinancas 2023
