doctype html
html( lang='pt-br' )
	include head.pug
	body
		header
			h1 LPFINANCAS
			p SEJA MUITO BEM VINDO #{usuario}
		main
			div
				h2 FORASTEIROS

				ul
					li
						a( href=`/sessao/${usuario}/adicionarforasteiro` ) adicionar forasteiro
					li
						a( href=`/sessao/${usuario}/editarforasteiro` ) editar forasteiro
					li
						a( href=`/sessao/${usuario}/visualizarforasteiros` ) visualizar forasteiros
					li
						a( href=`/sessao/${usuario}/deletarforasteiro` ) deletar forasteiro

				h2 CARTEIRAS
				ul
					li
						a( href=`/sessao/${usuario}/criarcarteira` ) criar carteira
					li
						a( href=`/sessao/${usuario}/editarcarteira` ) editar carteira
					li
						a( href=`/sessao/${usuario}/visualizarcarteira` ) visualizar carteira
					li
						a( href=`/sessao/${usuario}/deletarcarteira` ) deletar carteira

				h2 ENTRADAS e SAIDAS

				ul
					li
						a( href=`/sessao/${usuario}/entradas` ) adicionar ou remover entradas
					li
						a( href=`/sessao/${usuario}/saidas` ) adicionar ou remover saidas


		footer
			a( href='/sessao/${usuario}/sair' ) encerrar sessao
			small lpfinancas 2023
