doctype html
html( lang='pt-br' )
	include head.pug
	body
		header
			h1 LPFINANCAS
			p VISUALIZAR CARTEIRA PARA #{ usuario }
			p.
				A carteira é uma entidade abastrata que representa
				um lugar físico ou digital onde armazenas valores
				monetários.
		main
			table
				thread
					tr
						th id numerico
						th unidade monetaria
						th motante guardado
				thbody
					tr
						td #{ dados[0].id }
						td #{ dados[0].unidade_monetaria }
						td #{ dados[0].motante }

		footer
			a( href=`/sessao/${ usuario }` ) voltar para painel
			a( href="/" ) encerrar sessao
			small lpfinancas 2023

